*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --font-family: Segoe UI, sans-serif;
  --color-font: white;
}

#body-conf {
  background-image: linear-gradient(
      90deg,
      rgba(27, 89, 209, 0.5298319156764268) 71%,
      rgba(52, 51, 89, 1) 100%
    ),
    url("https://cdn.pixabay.com/photo/2016/11/08/05/10/students-1807505_960_720.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

#container {
  width: 100%;
  display: grid;
  margin: 0 auto 0;
  max-width: 735px;
}

#survey-form {
  /**background: hsla(241, 66%, 46%, 0.64);**/
  background-color: hsla(0, 0%, 0%, 0.6);
  margin: 25px 0px 0px;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

#title {
  color: var(--color-font);
  text-align: center;
  font-family: var(--font-family);
  padding: 30px 0px 1px 0px;
  margin: 0 auto;
}

#description {
  color: var(--color-font);
  text-align: center;
  font-family: var(--font-family);
  padding: 3px 0px 1px 0px;
  margin: 2px auto;
}

.textfield-format {
  font-family: var(--font-family);
  font-size: 19px;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  display: block;
  margin: 0;
  border-color: black;
}

.group {
  margin: 0 auto 15px auto;
  padding: 5px;
}

.form-typography {
  color: var(--color-font);
  font-family: var(--font-family);
  font-size: 19px;
  margin: 15px 0px 9px;
}

label {
  display: flex;
  align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px 10px 0px 0px;
  width: 19px;
  height: 19px;
}

option {
  background-color: white;
}

textarea {
  resize: none;
}

#submit {
  font-family: var(--font-family);
  font-size: 19px;
  cursor: pointer;
  width: 100%;
  color: white;
  height: 45px;
  background-color: black;
  border-color: white;
}

#submit:hover {
  animation-name: background-submit;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes background-submit {
  100% {
    background-color: white;
    color: black;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 600px) {
  .textfield-format {
    padding: 8px;
    margin: 0;
  }
  #survey-form {
    padding: 20px 2px;
  }
  .group {
    margin: 0 auto 15px auto;
    padding: 5px;
  }
}